body{
  font-family: "Nunito Sans";
}

h1{
  font-size: 50px;
}

img{
  max-width: 25%;
}

a{
  text-decoration: none;
  color: black;
}

.title{
  max-width: 400px;
  margin-bottom: 100px;
  margin-left: 0px;
}

.projects_grid{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  width: 25%;
  height: 50px;
  gap: 30px 30px;
  position: absolute;
  top: 50px;
  right: 26%;
  text-decoration: none;
}

.img_grid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 50px;
  width: 50%;
}

.bottom_bar{
  position: absolute;
  bottom: 0px;
}
