body{
  font-family: "Nunito Sans";
  height: 100%;
}

h1{
  font-size: 5.5vh;
}

a{
  text-decoration: none;
  color: black;
  position: relative;
}


/*Thanks to Geoff Graham and Adam Argyle*/
a::before {
  background: #feaeaf;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


.title{
  position: absolute;
  z-index: 1;
  max-width: 20%;
  min-width: 15%;
  padding-bottom: 100px;
  margin-left: 0px;
}


.img_grid, .projects_grid, .title, .recent, .content_grid{
  border: 1px solid blue;
}

.content_grid{
  display: flex;
  flex-direction: column;
  /*max-width: 35%;*/
  grid-gap: 10px;
  position: absolute;
  top: 5%;
  border: 1px solid red;
}


.content_grid > .projects_grid{
  align-self: center;
  margin-left: 30%;
}


.projects_grid{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 40%;
  text-decoration: none;
  font-size: 3vh;
}


.top_row, .bottom_row{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;

}

.top_row > a, .bottom_row > a{
  margin: 10px;
}

.img_grid{
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  align-items: flex-end;
  margin-right: 16%;
  row-gap: 10px;
}

.img_grid > img{
  max-width: 45%;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (max-width: 800px) {
  .body {
    width: 20%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  h1{
    font-size: 2.2vh;
  }

  a{
    font-size: 1.5vh;
    text-decoration: none;
    color: black;
  }

  .top_row > a, .bottom_row > a{
    margin: 0;
  }

  .top_row, .bottom_row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
  }

  .title{
    max-width: 20%;
    min-width: 15%;
    padding-bottom: 100px;
    margin-left: 0px;
    margin-top: 10%;
  }
}
