h1{
  font-family: "Nunito Sans";
  font-size: 50px;
}

img{
  max-width: 500px;
}

.title{
  margin-top: 50px;
  margin: auto;
}


.img_grid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 50px;
  width: 50%;
}
